@import '~antd/dist/antd.less';

.side-bar-sider-colapsed {
    overflow: auto;
    height: 100vh;
    position: fixed;
    left: 0;
}

.side-bar-sider-open {
    border: 0;
    border-top: 1px solid @primary-color;
}

.side-bar-container {
    position: relative;
    height: 100vh;
    overflow: auto;
    position: fixed;
    left: 0;
    width: 10rem;
    background: @white;
}

.side-bar-profile {
    position: absolute;
    bottom: 0;
    width: 10rem;
    border-top: 1px solid @primary-color;
    margin-bottom: 0.8rem;
    padding-top: 0.8rem;
}